.env
/vendor/
node_modules/
*.log
*.sqlite
*.zip
*.bak
*.tar
*.tar.gz
.phpunit.result.cache
# Terraform files
.terraform/
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl